<a #downloadAnchor tabindex="-1"></a>

<ul class="align-right listing">
  <li class="header-section">
    @let clioInfoValue = clioInfo();
    @if (clioInfoValue) {
      <div class="summary-bar">
        <span
          title="average score: {{ clioInfoValue.listAverageScore }}"
          class="clio-state clio-state-{{ clioInfoValue.listAverageScore }}"
        ></span>
        @if (clioInfo().titleMarkup) {
          @let titleMarkup = clioInfo().titleMarkup;
          <span class="title">
            @for (x of titleMarkup; track x) {
              @if (x.fn) {
                <a (click)="x.fn()" title="remove">{{ x.label }}</a>
              } @else {
                <span>{{ x.label }}</span>
              }
            }
            <ng-container *ngFor="let x of titleMarkup"> </ng-container>
          </span>
        }

        @let totalNumber = clioInfoValue.listLength;
        @let count = listSelectionCount;
        @let textAll = count > 1 && count === totalNumber ? ' all ' : '';
        @let text =
          'download ' + textAll + count + ' report' + (count !== 1 ? 's' : '');
        <a
          class="csv-download-block"
          (click)="requestDownload.emit()"
          [attr.label]="text"
        ></a>
      </div>
      @if (clioInfoValue.listLength) {
        <span class="list-header">Report Id</span>
        <span class="list-header">Batch Id</span>
        <span class="list-header">Dataset Id</span>
        <span class="list-header align-centre">Download</span>
        <span class="list-header align-left">Creation Time</span>
      } @else {
        <span class="list-empty">no reports available</span>
      }
    }
  </li>

  @for (latestItem of clioInfo().list; track latestItem) {
    <li>
      <span class="state-link">
        <span
          [ngClass]="getClioClass(latestItem.score)"
          class="clio-state"
          title="score: {{ latestItem.score }}"
        ></span>
        {{ latestItem.reportId }}
      </span>
      <a (click)="requestSummaryBatchId.emit(latestItem.batchId)">{{
        latestItem.batchId
      }}</a>
      <span>
        <a (click)="requestSummaryDatasetId.emit(latestItem.datasetId)">
          {{ latestItem.datasetId }}
        </a>
      </span>
      <span class="centre">
        <a class="csv-download" target="_blank" [href]="latestItem.url"></a>
      </span>

      <span class="last-cell">
        <span>
          {{ latestItem.creationTime | date: DATE_VERBOSE_FMT }}
        </span>
        <app-checkbox
          [form]="form"
          [controlName]="latestItem.reportId + ''"
          [title]="'include in top-level download'"
          [group]="'report_ids'"
          (valueChanged)="updateIds()"
        ></app-checkbox>
      </span>
    </li>
  }
</ul>
