@use '../../scss/colours';
@use '../../scss/variables';
@use '../../scss/functions/icon_urls';

.listing {
  $col-gap: 1em;
  border: 1px solid variables.$clio-colour;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: $col-gap;
  margin-top: 1em;
  padding: 0;

  a,
  .list-header {
    font-weight: bold;
  }

  li,
  .expanded-item > * {
    grid-column: 1 / 6;
  }

  li {
    display: grid;
    grid-template-columns: subgrid;
    padding: 2px 0.5em;
    background-color: #fff;
  }
}

.centre {
  justify-self: center;
}

.browse,
.csv-download {
  display: flex;
  align-items: center;
}

.browse {
  &::after {
    content: '';
    width: 1em;
    height: 1em;
    display: block;
    background-image: icon_urls.svg-url-icon-eye(variables.$clio-colour);
  }
  &:hover::after {
    background-image: icon_urls.svg-url-icon-eye(
      variables.$clio-highlight-colour
    );
  }
}

.csv-download {
  &::after {
    content: '';
    width: 1em;
    height: 1em;
    display: block;
    background-image: icon_urls.svg-url-icon-download(variables.$clio-colour);
  }
  &:hover::after {
    background-image: icon_urls.svg-url-icon-download(
      variables.$clio-highlight-colour
    );
  }
}

.hightlight,
.hightlight + li + li {
  border-top: 1px solid variables.$clio-colour;
  margin-top: -1px;
}

.expanded-item {
  background: #fff;
}

.list-header {
  background-color: #fff;
  padding: 0.4em 0;
  position: sticky;
  top: 4em;
}
