@use '../../scss/colours';
@use '../../scss/variables';
@use '../../scss/functions/icon_urls';

.report {
  grid-column: 1 / -1;
}

.listing {
  $col-gap: 1em;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)) auto;
  grid-column-gap: $col-gap;
  margin-top: 1em;
  padding: 0;

  a,
  .list-header {
    font-weight: bold;
  }

  li {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;

    background-color: #fff;
    :not(.expanded-item) {
      padding: 2px 0.5em;
    }
  }

  &:has(.expanded-item) {
    li:not(.expanded-item, :has(+ .expanded-item)) {
      background-color: colours.$offwhite;
      transition: background-color 0.3s linear;
    }
  }

  &:not(:has(.expanded-item)) {
    border: 1px solid variables.$clio-colour;

    .list-header {
      position: sticky;
    }

    .list-header,
    .expanded-item {
      background-color: #fff;
    }
  }
}

.centre {
  align-items: center;
  justify-self: center;
  text-align: center;
}

.browse {
  display: flex;
  align-items: center;
}

.browse {
  position: relative;
  &::after {
    content: '';
    width: 1em;
    height: 1em;
    display: block;
    background-image: icon_urls.svg-url-icon-eye(variables.$clio-colour);
    background-position: center;
    position: absolute;
    left: 50%;
    bottom: -1.25em;

    transform: translateX(-50%);
  }
  &:hover::after {
    background-image: icon_urls.svg-url-icon-eye(
      variables.$clio-highlight-colour
    );
  }
}

.expanded-item {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.list-header {
  padding: 0.4em 0;
  top: 4em;
}
