@use '../../scss/colours';
@use '../../scss/variables';
@use '../../scss/functions/icon_urls';

.align-centre {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.clio-state {
  margin-right: 0.5rem;
  transform: scale(0.75);
}

.listing {
  $col-gap: 1em;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)) auto;
  grid-column-gap: $col-gap;
  margin-top: 1em;
  padding: 0;
  position: relative;

  a {
    line-height: 2.25em;
  }

  a,
  .list-header {
    font-weight: bold;
  }

  li {
    background-color: colours.$white;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    padding: 2px 0.5em;
  }

  .list-header {
    background-color: colours.$white;
    position: sticky;
    top: 7.5em;
    white-space: nowrap;
  }
}

.last-cell {
  display: flex;
  align-items: center;
  margin-right: 0.25em;
}

.list-header {
  padding: 0.4em 0;
  z-index: 1;
}

.state-link {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
