<a #downloadAnchor tabindex="-1"></a>

<ng-template #dateCheckbox let-time="time" let-runId="runId">
  <span class="last-cell">
    <span>
      {{ time | date: DATE_CONCISE_FMT }}
    </span>
    <app-checkbox
      [form]="form"
      [controlName]="runId + ''"
      [title]="'include in top-level download'"
      [group]="'run_ids'"
      (valueChanged)="updateIds()"
    ></app-checkbox>
  </span>
</ng-template>

<ng-template #stateLink let-score="score" let-fnToggle="fnToggle">
  <a
    [attr.disabled]="!!fnToggle ? null : 'disabled'"
    (click)="fnToggle ? fnToggle() : undefined"
    (keyUp.enter)="fnToggle ? fnToggle() : undefined"
    tabindex="!!fnToggle ? 0 : -1"
    [ngClass]="getClioClass(score)"
    class="clio-state"
    title="links in operation: {{ score }}%"
  ></a>
</ng-template>

<ng-template #bar let-score="score" let-fnCancel="fnCancel">
  <span class="score-display">
    <a
      class="bar-label"
      [attr.disabled]="!!fnCancel ? null : 'disabled'"
      (click)="fnCancel ? fnCancel() : undefined"
    >
      {{ score }}%
    </a>
    <a
      class="bar-outer"
      [attr.disabled]="!!fnCancel ? null : 'disabled'"
      (click)="fnCancel ? fnCancel() : undefined"
    >
      <span
        class="bar-inner"
        title="links in operation: {{ score }}%"
        [ngStyle]="{
          width: score + '%'
        }"
      >
      </span>
    </a>
  </span>
</ng-template>

<ul
  class="align-right listing"
  [ngClass]="{
    'extra-col': graphMode
  }"
>
  <li class="header-section">
    @let clioInfoValue = clioInfo();
    @if (clioInfoValue) {
      <span class="summary-bar">
        <a
          tabindex="0"
          (click)="graphMode = !graphMode"
          (keyUp.enter)="graphMode = !graphMode"
          title="average: {{ clioInfoValue.listAverageScore }}"
          class="clio-state clio-state-{{ clioInfoValue.listAverageScore }}"
        ></a>
        @if (clioInfo().titleMarkup) {
          @let titleMarkup = clioInfo().titleMarkup;
          <span class="title">
            @for (x of titleMarkup; track x) {
              @if (x.fn) {
                <a
                  (click)="x.fn()"
                  (keyUp.enter)="x.fn()"
                  tabindex="0"
                  title="remove"
                  >{{ x.label }}</a
                >
              } @else {
                <span>{{ x.label | renameFilter }}</span>
              }
            }
            <ng-container *ngFor="let x of titleMarkup"> </ng-container>
          </span>
        }

        @let count = listSelectionCount;
        @let text = 'export ' + count + ' check' + (count !== 1 ? 's' : '');
        <a
          class="csv-download-block"
          tabindex="0"
          (click)="requestDownload.emit()"
          (keyUp.enter)="requestDownload.emit()"
          [attr.label]="text"
        ></a>
      </span>

      @if (clioInfoValue.listLength) {
        <span class="list-header align-left">Dataset Id / Name</span>
        <span class="list-header">Data Provider</span>
        <span class="list-header">Provider</span>
        <span class="list-header align-centre">Export</span>
        <span class="list-header align-left">Check Date</span>
      } @else {
        <span class="list-empty">no reports available</span>
      }
    }
  </li>

  @for (group of clioInfo().groupedRuns; track group) {
    <li class="group-header" [ngClass]="{ 'header-section': group.opened }">
      <ul class="sublisting">
        <li>
          @if (graphMode) {
            <ng-container
              [ngTemplateOutlet]="bar"
              [ngTemplateOutletContext]="{
                score: group.percentInOperation,
                fnCancel: cancelGraphMode.bind(this)
              }"
            >
            </ng-container>
          }

          <span class="state-display">
            <ng-container
              [ngTemplateOutlet]="stateLink"
              [ngTemplateOutletContext]="{
                score: group.percentInOperation,
                fnToggle: toggleGraphMode.bind(this)
              }"
            >
            </ng-container>
          </span>

          <a
            tabindex="0"
            class="opener"
            [ngClass]="{ opened: group.opened }"
            (click)="group.opened = !group.opened"
            (keyUp.enter)="group.opened = !group.opened"
          >
            {{ group.list[0].datasetId }}
            {{ group.list[0].datasetName }}
          </a>

          <span>
            {{ group.list[0].dataProvider }}
          </span>

          <span>
            {{ group.list[0].provider }}
          </span>

          <span class="centre">
            <a
              class="csv-download-block"
              target="_blank"
              tabindex="0"
              (click)="requestSummaryDatasetHistoric.emit(group.list[0].datasetId)"
              (keyUp.enter)="requestSummaryDatasetHistoric.emit(group.list[0].datasetId)"
            ></a>
          </span>

          <ng-container
            [ngTemplateOutlet]="dateCheckbox"
            [ngTemplateOutletContext]="{
              time: group.list[0].creationTime,
              runId: group.list[0].runId + ''
            }"
          >
          </ng-container>
        </li>

        @if (group.opened) {
          <li>
            <ul class="sublisting run-list">
              @for (entry of group.list; track entry) {
                <li>
                  <span>
                    <ng-container
                      [ngTemplateOutlet]="stateLink"
                      [ngTemplateOutletContext]="{
                        score: entry.percentInOperation
                      }"
                    >
                    </ng-container>
                    <ng-container
                      [ngTemplateOutlet]="bar"
                      [ngTemplateOutletContext]="{
                        score: entry.percentInOperation
                      }"
                    >
                    </ng-container>
                  </span>

                  <span class="centre">
                    <a
                      class="csv-download"
                      target="_blank"
                      [href]="group.list[0].url"
                    ></a>
                  </span>

                  <ng-container
                    [ngTemplateOutlet]="dateCheckbox"
                    [ngTemplateOutletContext]="{
                      time: entry.creationTime,
                      runId: entry.runId + ''
                    }"
                  >
                  </ng-container>
                </li>
              }
            </ul>
          </li>
        }
      </ul>
    </li>
  }
</ul>
