@use '../../scss/functions/icon_urls';
@use '../../scss/colours';
@use '../../scss/variables';

a:focus {
  outline: 1px solid variables.$focus-highlight-colour;
}

.header {
  align-items: center;
  background: colours.$offwhite;
  border-top: 2px solid colours.$mid-grey;
  border-bottom: 2px solid colours.$mid-grey;
  display: flex;
  flex-direction: row;
  padding: 4px 0;
}

.header-outer {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 12;
}

.logo {
  background-image: icon_urls.svg-url-icon-europeana();
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 54px;
  margin-left: 21px;
  width: 270px;
}
