.logo {
  background-image: url("/assets/images/europeana-logo-default.png");
  display: block;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
