<header class="header-outer">
  <div class="header">
    <a class="logo" title="home" routerLink="/" tabindex="0">
      <span class="icon-wrapper">
        <span class="icon"></span>
      </span>
      <span class="text">
        metis
        <br />clio
      </span>
    </a>
    <div class="state">
      <div class="clio-state clio-state-0"></div>
      <div class="clio-state clio-state-1"></div>
      <div class="clio-state clio-state-2"></div>
      <div class="clio-state clio-state-3"></div>
      <div class="clio-state clio-state-4"></div>
    </div>
  </div>
</header>
