@use '../scss/colours';
@use '../scss/variables';

.error,
:invalid,
:placeholder-shown {
  border: 1px solid colours.$eu-red;
  color: colours.$eu-red;
}

.batch-item {
  display: grid;
  grid-template-columns: 2fr 1fr;

  li {
    display: contents;
  }

  span {
    text-align: right;
  }
}

.batch-list {
  ul {
    margin-bottom: 1em;
  }
}

.end-points {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.columns {
  display: flex;
  .left-col {
    margin-right: 2em;
  }
  .right-col {
    width: 100%;
  }
}

h4 {
  margin: 0.5em 0 0 1em;
}

select {
  color: variables.$text-colour;
  margin-top: 0.6em;
  padding-left: 0;
  font-size: 1em;
  font-weight: bold;
  padding: 0.75em 0 0.5em 0.5em;

  background: colours.$offwhite;
  &:focus-visible {
    outline: 1px solid variables.$clio-highlight-colour;
  }
}

.path {
  font-weight: bold;
  white-space: nowrap;
}

.path,
.go {
  cursor: pointer;
}

.go {
  background-color: variables.$clio-colour;
  border: 1px solid #333;
  color: #fff;
  font-weight: bold;
  padding: 0.4em;
  &:hover {
    background-color: variables.$clio-highlight-colour;
  }
}

.desc {
  font-style: italic;
}

.opener {
  display: flex;
  &::after {
    content: '>';
    font-weight: bold;
    position: relative;
    transform: rotate(0deg) translateX(0.4em);
  }
  &.expanded::after {
    transform: rotate(90deg) translateY(-0.4em);
  }
}
