<app-header></app-header>

<div class="fit-to-page">
  <div class="columns">
    <div class="left-col">
      <app-filters #filters> </app-filters>
    </div>
    <div class="right-col">
      <app-listing
        #listing
        (requestDownloadCheck)="downloadCheck($event)"
        (requestDownloadDataset)="downloadDataset($event)"
        (requestDownloadAll)="downloadAll()"
        [clioInfo]="filters.modelClioInfo"
      ></app-listing>

      <a
        (click)="loadPrevPage()"
        (keyUp.enter)="loadPrevPage()"
        [attr.tabindex]="!canLoadPrevPage() ? -1 : 0"
        [attr.disabled]="!canLoadPrevPage() ? 'disabled' : null"
      >
        &lt;&lt;
      </a>

      &nbsp;
      {{ pageString() }}
      &nbsp;

      <a (click)="loadNextPage()" (keyUp.enter)="loadNextPage()"> &gt;&gt; </a>
    </div>
  </div>

  <ul class="footer">
    <li>
      <a
        class="dataspace-logo"
        href="{{ apiSettings.dataspaceURL }}"
        rel="noopener"
        target="_blank"
        aria-label="Download file"
        aria-hidden="true"
      ></a>
    </li>
    <li class="flag" alt="EU flag logo"></li>
  </ul>
</div>
