@use '../scss/colours';
@use '../scss/variables';

.csv-download-block {
  margin: 0 0.5em 0 auto;
  white-space: nowrap;
}

.summary-bar {
  align-items: center;
  font-weight: bold;
  display: flex;
  border-top: 1px solid variables.$clio-colour;
  border-bottom: 1px solid variables.$clio-colour;
  padding: 0.5rem 0;

  .clio-state {
    margin-left: 0.5em;
    min-width: 2em;
  }

  .title {
    margin-left: 1rem;
    text-transform: capitalize;

    a {
      color: variables.$clio-highlight-colour;
      &:hover {
        color: variables.$text-colour;
      }
      & + span {
        padding: 0 0.4em;
      }
    }

    :first-child {
      padding-right: 0.4em;
    }
  }
}
