input:empty,
.error {
  border: 1px solid red;
  border: 1xp solid red;
  color: red;
}

ul {
  list-style: none;
}

.end-points {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.path {
  font-weight: bold;
  white-space: nowrap;
}

.path,
.go {
  cursor: pointer;
}

.go {
  background: #777;
  border: 1px solid #333;
  color: #fff;
  font-weight: bold;
  padding: 0.4em;
}

.desc {
  font-style: italic;
}
