@use '../../scss/colours';
@use '../../scss/variables';

h4 {
  margin: 0.5em 0 0 1em;
}

input {
  display: block;
  padding: 0.25em;
  margin: 0.5em 0 1.5em 0.5em;
  width: 10rem;
}

select {
  background: colours.$offwhite;
  color: variables.$text-colour;
  margin-top: 0.6em;
  font-size: 1em;
  font-weight: bold;
  padding: 0.75em 0 0.25em 0;
  margin-bottom: 1em;

  &:focus-visible {
    outline: 1px solid variables.$clio-highlight-colour;
  }
}

.filter {
  margin: 0 0 1.25em 0.5em;
}

.filter-label {
  font-weight: bold;
  text-transform: capitalize;
}
