@use '../../scss/colours';
@use '../../scss/variables';
@use '../../scss/functions/icon_urls';

h4 {
  margin: 0.5em 0 0 1em;
}

input {
  padding: 0.25em 0.4em;
  width: 9em;
}

.input-wrapper {
  align-items: center;
  display: flex;
  margin: 0.5em 0 1.5em 0.5em;

  input {
    display: block;
    margin-left: 4px;
    outline: 1px solid transparent;
    width: 10em;

    &:focus-visible {
      border-color: transparent;
      outline-color: variables.$clio-highlight-colour;
    }
  }

  .search-icon-solid {
    background-image: icon_urls.svg-url-icon-search(colours.$white);
    background-repeat: no-repeat;
    background-color: variables.$text-colour;
    background-position: 3px 3px;
    background-size: 80%;
    border: 1px solid colours.$white;
    border-radius: 50%;
    display: block;
    height: 1.125em;
    margin-left: 8px;
    width: 1.125em;
    outline: 0.5px solid variables.$text-colour;

    &:focus-visible,
    &:hover {
      background-color: variables.$clio-highlight-colour;
      outline-color: variables.$clio-highlight-colour;
    }
  }
}

select {
  background: colours.$offwhite;
  color: variables.$text-colour;
  margin-top: 0.6em;
  font-size: 1em;
  font-weight: bold;
  padding: 0.75em 0 0.25em 0;
  margin-bottom: 1em;

  &:focus-visible {
    outline: 1px solid variables.$clio-highlight-colour;
  }
}

.filters {
  padding-top: 0.75em;
  border-top: 1px solid variables.$clio-colour;
  margin-bottom: 4em;
}

.filter {
  background-color: colours.$white;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;

  &:not(:hover) {
    max-width: 100%;
    overflow: hidden;
    padding-right: 1.5em;
  }

  &:empty {
    min-height: 4em;

    &:after {
      content: 'no entries available';
      color: #777;
      font-style: italic;
      position: relative;
      left: 1.7em;
      top: 0.5em;
    }
  }
}

.filter-wrapper {
  $filter-max-height: 11em;

  background: colours.$white;
  max-height: $filter-max-height;
  margin: 0 0 1.5em 0.5em;
  position: relative;

  .filter-height-maintainer {
    border-bottom: 1px solid transparent;
    display: none;
    font-size: 14px;
  }

  &:not(:hover) {
    overflow: hidden;
  }

  &:hover .filter-height-maintainer {
    display: block;
  }
}

.filter-label {
  font-weight: bold;
  text-transform: capitalize;
}

.checkbox-filter {
  align-items: center;
  display: flex;
  padding-bottom: 0.5em;

  .checkbox-filter-input {
    border-radius: 9px;
    color: variables.$text-colour;
    margin: 0 0.5em;

    &:focus::placeholder {
      color: transparent;
    }
  }
  .search-icon {
    background-image: icon_urls.svg-url-icon-search(variables.$text-colour);
    background-repeat: no-repeat;
    display: block;
    height: 1em;
    margin-left: 1em;
    width: 1em;
    min-width: 1em;

    &:has(+ input:focus-visible) {
      background-image: icon_urls.svg-url-icon-search(variables.$clio-colour);
    }
  }
}
