<div class="filters">
  @let filter = modelClioInfo().filterOps;

  <ng-container *ngFor="let field of filter | keyvalue">
    @let entryPluralised = field.value.length === 1 ? 'entry' : 'entries';

    <span class="checkbox-filter">
      <span class="filter-label">{{ field.key }}</span>
      <span class="search-icon"></span>
      <input
        class="checkbox-filter-input"
        #filterEntries
        placeholder="Search ({{ field.value.length }} {{ entryPluralised }})"
        [(ngModel)]="optionFilters[field.key]"
      />
    </span>

    <div class="filter">
      <ng-container
        *ngFor="let option of filterList(optionFilters[field.key], field.value)"
      >
        <app-checkbox
          [form]="form"
          [controlName]="option"
          [labelText]="option"
          [group]="field.key"
          (valueChanged)="updatePageUrl()"
          title="Test"
        ></app-checkbox>
      </ng-container>
    </div>
  </ng-container>

  <div [formGroup]="form">
    <span class="filter-label">Batch Id(s)</span>
    <input
      data-e2e="batch-id"
      placeholder="batch id"
      formControlName="batchId"
      (keyUp.enter)="updatePageUrl()"
    />

    <span class="filter-label">Dataset Id(s)</span>
    <input
      data-e2e="dataset-id"
      placeholder="dataset id"
      formControlName="datasetId"
      (keyUp.enter)="updatePageUrl()"
    />

    <span class="filter-label">From</span>
    <input
      type="date"
      data-e2e="date-from"
      formControlName="dateFrom"
      (change)="updatePageUrl()"
    />

    <span class="filter-label">To</span>
    <input
      type="date"
      data-e2e="date-to"
      formControlName="dateTo"
      (change)="updatePageUrl()"
    />
  </div>
</div>
