<div class="filters">
  <select (change)="clearCheckboxes()">
    <option value="0">All Providers</option>
    <option value="1">Provider 1</option>
    <option value="2">Provider 2</option>
  </select>

  <ng-container *ngFor="let field of formControlFields">
    <span class="filter-label">{{ field.name }}</span>
    <div class="filter">
      <ng-container *ngFor="let option of field.options">
        <app-checkbox
          [form]="form"
          [controlName]="option.name"
          [labelText]="option.label"
          [group]="field.name"
          (valueChanged)="updateFilter()"
          title="Test"
        ></app-checkbox>
      </ng-container>
    </div>
  </ng-container>

  <input placeholder="dataset id" />
</div>
