@use './functions/icon_urls';
@use './colours';
@use './variables';

a {
  color: colours.$eu-purple;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: colours.$eu-raspberry;
  }

  &.external-link {
    align-items: center;
    display: flex;
    &::after {
      content: '';
      display: inline-block;
      width: 1em;
      padding: 0 0.2em;
      height: 1em;
      background-image: icon_urls.svg-url-icon-external(colours.$eu-purple);
      background-repeat: no-repeat;
      background-position: center 0.1em;
    }
  }
}

.csv-download {
  align-items: center;
  display: flex;

  &::after {
    content: '';
    width: 1em;
    height: 1em;
    display: block;
    background-image: icon_urls.svg-url-icon-download(variables.$clio-colour);
  }
  &:hover::after {
    background-image: icon_urls.svg-url-icon-download(
      variables.$clio-highlight-colour
    );
  }
}
