@use './functions/icon_urls';
@use './colours';
@use './variables';

a {
  color: variables.$clio-colour;
  text-decoration: none;

  &:not([disabled]) {
    cursor: pointer;
    &:focus-visible,
    &:hover {
      color: variables.$clio-highlight-colour;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &.external-link {
    align-items: center;
    display: flex;
    &::after {
      content: '';
      display: inline-block;
      width: 1em;
      padding: 0 0.2em;
      height: 1em;
      background-image: icon_urls.svg-url-icon-external(variables.$clio-colour);
      background-repeat: no-repeat;
      background-position: center 0.1em;
    }
  }
}

.csv-download {
  background-image: icon_urls.svg-url-icon-download(variables.$clio-colour);
  display: block;
  height: 1.25em;
  margin: 0.5em auto 0 auto;
  width: 1.25em;

  &:focus-visible,
  &:hover {
    background-image: icon_urls.svg-url-icon-download(
      variables.$clio-highlight-colour
    );
  }
}

.csv-download-block {
  align-items: center;
  display: flex;

  &::before {
    content: attr(label);
    font-weight: bold;
    margin: 0 0.75em 0 1em;
  }

  &::after {
    content: '';
    border-radius: 4px;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    background-color: variables.$clio-colour;
    background-image: icon_urls.svg-url-icon-download(colours.$white);
  }

  &:focus-visible,
  &:hover {
    &::after {
      background-color: variables.$clio-highlight-colour;
    }
  }
  &:focus-visible {
    color: variables.$clio-highlight-colour;
    outline: none;
  }
}
