@use 'functions/_icon_urls';
@use 'colours';
@use 'variables';

body {
  background: #fff;
  color: variables.$text-colour;
  font: 16px / 1.6 variables.$font-primary;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  word-wrap: break-word;
}

.bold {
  font-weight: 600;
}

.fit-to-page {
  $default-margin-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

  @media (min-width: variables.$bp-small-3) {
    margin-top: 0;
    margin-right: $default-margin-size;
    margin-bottom: $default-margin-size;
    margin-left: $default-margin-size;
  }

  @media (min-width: variables.$bp-xl) {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: $default-margin-size;
    margin-left: auto;

    max-width: variables.$max-width;
    width: 80%;
  }
}

.columns {
  $col-w: 20em;
  max-width: 100%;

  .right-col {
    margin-left: auto;
    width: calc(100% - $col-w);
    min-width: calc(100% - $col-w);
    max-width: calc(100% - $col-w);
    min-height: calc(100vh - 30em);
  }

  .left-col {
    position: absolute;
    min-width: $col-w;

    &:hover {
      z-index: 3;
      .filter:has(:hover) {
        border-bottom-color: variables.$clio-colour;
        border-right-color: variables.$clio-colour;
        background-color: #fff;

        & > * {
          background-color: #fff;
        }
      }
    }

    .filter {
      border-bottom: 1px solid transparent;
      border-right: 1px solid transparent;

      &:not(:has(:hover)) {
        max-width: calc($col-w - 0.5em);
        overflow: hidden;
        padding-right: 1.5em;
      }
    }

    .checkbox-filter:not(:hover, :has(+ :hover)) .checkbox-filter-input {
      opacity: 0;
    }
  }
}

$header-height: 4.3rem;
$summary-height: 3rem;

.summary-bar {
  //height: $summary-height;
  min-height: $summary-height;
  position: sticky;
  top: $header-height;

  border-top: 1px solid variables.$clio-colour;
  border-bottom: 1px solid variables.$clio-colour;

  z-index: 2;
  background: #fff;
}

.listing .list-header {
  top: 4em;
}

.summary-bar + * > .listing .list-header {
  top: $summary-height + $header-height;
  //top: $header-height;
}
