@use 'functions/_icon_urls';
@use 'colours';
@use 'variables';

body {
  background: colours.$white;
  color: variables.$text-colour;
  font: 16px / 1.6 variables.$font-primary;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  word-wrap: break-word;
}

input {
  border: 1px solid variables.$text-colour;
}

.bold {
  font-weight: 600;
}

.fit-to-page {
  $default-margin-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

  @media (min-width: variables.$bp-small-3) {
    margin-top: 0;
    margin-right: $default-margin-size;
    margin-bottom: $default-margin-size;
    margin-left: $default-margin-size;
  }

  @media (min-width: variables.$bp-xl) {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: $default-margin-size;
    margin-left: auto;

    max-width: variables.$max-width;
    width: 80%;
  }
}

.columns {
  $col-w: 20em;
  display: flex;
  margin-top: 2em;
  max-width: 100%;
  min-height: calc(100vh - 12em);

  .right-col {
    margin-left: auto;
    width: calc(100% - $col-w);
    min-width: calc(100% - $col-w);
    max-width: calc(100% - $col-w);
    min-height: calc(100vh - 30em);
  }

  .left-col {
    min-width: $col-w;
    max-width: calc($col-w - 0.5em);

    &:hover {
      z-index: 3;
      .filter-wrapper:hover {
        z-index: 1;
        .filter:not(:empty) {
          border-bottom-color: variables.$clio-colour;
          border-right-color: variables.$clio-colour;
          position: absolute;
          top: 0;
        }
      }
    }

    .checkbox-filter:not(:hover, :has(+ :hover)) .checkbox-filter-input {
      opacity: 0;
    }
  }
}

.summary-bar {
  min-height: 3rem;
  position: sticky;
  top: 4.3rem;

  border-top: 1px solid variables.$clio-colour;
  border-bottom: 1px solid variables.$clio-colour;

  z-index: 2;
  background: colours.$white;
}
