/* RESET */

* {
  box-sizing: border-box;
}

html,
body,
div,
h1,
header,
footer,
nav,
section,
ul {
  margin: 0;
  padding: 0;
}

header,
footer,
nav,
section,
main {
  display: block;
}

select {
  border: none;
}

ul {
  list-style: none;
}
