@use 'colours';

$text-colour: colours.$eu-grey-dark;
$clio-colour: $text-colour;
$clio-highlight-colour: colours.$eu-raspberry;
$focus-highlight-colour: $clio-highlight-colour;

$font-primary: 'Open Sans', 'Arial', sans-serif;

/* Layout */
$max-width: 1280px;
$spacing-xs: 4px;

/* Breakpoints */
//$bp-small: 24em;
//$bp-small-2: 30em;
$bp-small-3: 40em;
//$bp-med: 50em;
//$bp-large: 60em;
$bp-xl: 70em;
//$bp-xxl: 90em;
//$bp-desktop: $bp-xl;
