$white: #fff;
$offwhite: #ededed;
$eu-grey-dark:  #4d4d4d;
$near-black: $eu-grey-dark;

/* Zeplin styleguide colours */
$eu-red: #f22f24;
$eu-purple: #b47da7;
$eu-raspberry: #e95a81;

$clio-colour: $eu-purple;
$clio-highlight-colour: $eu-raspberry;

$focus-highlight-colour: $eu-raspberry;
$textcolour_body: $near-black;

$font-primary: "Open Sans", "Arial", sans-serif;

/* Layout */
$max-width: 1280px;
$spacing-xs: 4px;

/* Breakpoints */
//$bp-small: 24em;
//$bp-small-2: 30em;
$bp-small-3: 40em;
//$bp-med: 50em;
//$bp-large: 60em;
$bp-xl: 70em;
//$bp-xxl: 90em;
//$bp-desktop: $bp-xl;
